@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" ng-app="ccmsApp">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>CCMS</title>
    <!-- Favicon-->
    <link rel="icon" href="../Content/assets/images/Tshiamiso_logo.svg" type="image/x-icon">
    <!-- Plugins Core Css -->
    <link href="../Content/assets/css/app.min.css" rel="stylesheet">
    <!-- Custom Css -->
    <link href="../Content/assets/css/style.css" rel="stylesheet" />
    <link href="../Content/assets/css/pages/authentication.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/Scripts/paginationUi.js"></script>
    <script src="~/Content/autocomplete/angucomplete-alt.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/angular-route.min.js"></script>
    @*<script src="~/AngularJs/ccmsApp.js"></script>
    <script src="~/AngularJs/controllers/Login.js"></script>
    <script src="~/AngularJs/services/LoginService.js"></script>*@
    <style>
        .login100-form-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
            width: 100%;
            height: 50px;
            border-radius: 10px;
            background: #057a52;
            font-family: Barlow,sans-serif;
            font-size: 12px;
            color: #fff;
            line-height: 1.2;
            text-transform: uppercase;
            letter-spacing: 1px;
            cursor: pointer;
            transition: all .4s;
            box-shadow: none
        }

            .login100-form-btn:hover {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 20px;
                width: 100%;
                height: 50px;
                border-radius: 10px;
                background: #a8ce38;
                font-family: Barlow,sans-serif;
                font-size: 12px;
                color: #fff;
                line-height: 1.2;
                text-transform: uppercase;
                letter-spacing: 1px;
                cursor: pointer;
                transition: all .4s;
            }

        .fagreen-custom {
            color: #057a52 !important;
            font-weight: 400 !important;
        }

        .has-error {
            border: 1px solid red
        }
    </style>
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
</head>

<body ng-controller="LoginCntrl">
    <div class="limiter">
        <div class="container-login100" style="margin:0">
            <div class="wrap-login100">
                <form class="login100-form validate-form" name="LoginForm">
                    <div title="Back To Home">
                        <a href="../home/index" class="login100-form-social-item flex-c-m bg1 m-r-5" style="background-color: #b8d75c">
                            <i class="fa fa-home" style="color:#057a52;"></i>
                        </a>
                    </div>
                    <span class="login100-form-title p-b-45 fagreen-custom">
                        CAS
                    </span>


                    <div class="wrap-input100 " ng-class="{'has-error': (LoginForm.Username.$dirty
                                          || Submitted) && LoginForm.Username.$error.required}">
                        <input class="input100" type="text" name="Username" ng-model="loginModel.Username" ng-class="{'has-error': (LoginForm.Username.$dirty
                                          || Submitted) && LoginForm.Username.$error.required}">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Username</span>
                    </div>


                    <div class="wrap-input100 " ng-class="{'has-error': (LoginForm.Password.$dirty
                                          || Submitted) && LoginForm.Password.$error.required}">
                        <input class="input100" type="password" name="Password" ng-model="loginModel.Password" ng-class="{'has-error': (LoginForm.Password.$dirty
                                          || Submitted) && LoginForm.Password.$error.required}">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Password</span>
                    </div>

                    <div class="flex-sb-m w-full p-t-15 p-b-20">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value=""> Remember me
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>

                        <div>
                            <a href="#" class="txt1">
                                Forgot Password?
                            </a>
                        </div>
                    </div>


                    <div class="container-login100-form-btn mb-5">
                        <a href="../Home/CCMS_Roles" class="login100-form-btn" @*ng-click="isLoginLoding?'':Login(loginModel)"*@>
                            Login
                        </a>@*<span class="fa fa-spin fa-spinner"></span>*@
                        </a>
                    </div>

                    @*<div class="text-center p-t-45 p-b-20">
            <span class="txt2">
                or sign up using
            </span>
        </div>

        <div class="login100-form-social flex-c-m">
            <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
                <i class="fab fa-facebook-f"></i>
            </a>

            <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
                <i class="fab fa-twitter"></i>
            </a>
        </div>*@
                </form>
                <div class="login100-more" style="background-image: url('../Content/assets/images/undraw_QA_engineers_dg5p.svg');">
                </div>
            </div>
        </div>
    </div>

    <!-- Plugins Js -->
    <script src="../Content/assets/js/app.min.js"></script>
    <script src="../Content/assets/js/pages/examples/pages.js"></script>
</body>

</html>