
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutCCMS.cshtml";
}
<script src="~/AngularJs/controllers/HomeCntrl.js"></script>
<script src="~/AngularJs/controllers/HomeCntrl.js"></script>
@*<link rel="stylesheet" href="~/Content/dashboardNew/dist/css/adminlte.min.css">*@

<link rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<link rel="stylesheet"
      href="https://unpkg.com/leaflet.markercluster@1.5.0/dist/MarkerCluster.css" />
<link rel="stylesheet"
      href="https://unpkg.com/leaflet.markercluster@1.5.0/dist/MarkerCluster.Default.css" />
@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
@*<script src="https://unpkg.com/jquery@3.6.0/dist/jquery.min.js"
    integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK"
    crossorigin="anonymous"></script>*@
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.markercluster@1.5.0/dist/leaflet.markercluster.js"></script>
<script src="~/maps/Control.FullScreen.js"></script>
<link href="~/maps/Control.FullScreen.css" rel="stylesheet" />
<style>
    .content-header {
        padding: 5px 0.5rem !important;
    }

    .box-header {
        padding: 0 !important;
        padding-left: 10px !important
    }
</style>
<div ng-controller="homeCntrl" ng-cloak style="zoom:0.9">
    <div class="content-header">
        <div class="row">
            <div class="col-sm-6">
                @*<h1 class="m-0">Dashboard</h1>*@
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div>
    <!-- /.content-header -->
    <hr style="margin-top:0 !important" />

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="box card-success card-outline">
                    <div class="box-header with-border">
                        <h5 class="box-title" style="color: #28a745;">Appointments</h5>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="display: block;">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="~/Content/dashboard/Images/appoinments.png" style="width:120px;height:90px;" class="img-circle" />

                            </div>
                            <div class="col-md-6">
                                <i class="fa fa-spinner fa-spin" ng-if="loaderSpin"></i>
                                <p class="font-bold text-center" style="font-size: 30px">
                                    <a href="../HealthCare/MQList" style="color: #28a745;">
                                        <h3 style="text-align:center;color: #28a745;"> 38500</h3>
                                    </a>


                                </p>
                                @*<h6 class="text-center;" style="">Total</h6>*@
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <div class="col-md-3">
                <div class="box card-success card-outline">
                    <div class="box-header with-border">
                        <h5 class="box-title" style="color: #28a745;">Lodgements</h5>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="display: block;">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="~/Content/dashboard/Images/lodgements.png" style="width:120px;height:90px;" class="img-circle" />

                            </div>
                            <div class="col-md-6">
                                <i class="fa fa-spinner fa-spin" ng-if="loaderSpin"></i>
                                <p class="font-bold text-center" style="font-size: 30px">
                                    <a href="../Dashboard/ExamineCompleted" style="color: #28a745;"><h3 style="text-align:center;color: #28a745;">22250</h3></a>

                                </p>
                                @*<h6 class="text-center;">Total</h6>*@
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <div class="col-md-3">
                <div class="box card-success card-outline">
                    <div class="box-header with-border">
                        <h5 class="box-title" style="color: #28a745;">Claimant Population</h5>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="display: block;">

                        <div class="row">
                            <div class="col-md-6">
                                <img src="~/Content/dashboard/Images/population.png" style="width:120px;height:90px;" class="img-circle" />

                            </div>
                            <div class="col-md-6">
                                <i class="fa fa-spinner fa-spin" ng-if="loaderSpin"></i>
                                <p class="font-bold text-center" style="font-size: 30px">
                                    <a href="../Fitness/GenerateCertificate" style="color: #28a745;"><h3 style="text-align:center;color: #28a745 !important;">82598</h3></a>
                                </p>
                                @*<h6 class="text-center;">Total</h6>*@
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <div class="col-md-3">
                <div class="box card-success card-outline">
                    <div class="box-header with-border">
                        <h5 class="box-title" style="color: #28a745;">Service Provider Sites</h5>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="display: block;">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="~/Content/dashboard/Images/service.png" style="width:120px;height:90px;" class="img-circle" />

                            </div>
                            <div class="col-md-6">
                                <i class="fa fa-spinner fa-spin" ng-if="loaderSpin"></i>
                                <p class="font-bold text-center" style="font-size: 30px">
                                    <a href="../Dashboard/ExamineDue" style="color: #28a745;"><h3 style="text-align:center;color: #28a745;">111</h3></a>
                                </p>
                                @*<h6 class="text-center;">Total</h6>*@
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>


        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="box card-success card-outline">
                    <div class="box-header with-border">
                        <h5 class="box-title" style="color: #28a745;">Claimant Population</h5>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="margin:0">
                        <div id="map" style="width: 100% !important; height: 500px !important"></div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="box card-success card-outline">
                    <div class="box-header with-border">
                        <h5 class="box-title" style="color: #28a745;">Service Provider Sites</h5>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="margin:0">
                        <div id="mapServiceProvidr" style="width: 100% !important; height: 500px !important"></div>
                    </div>
                    <!-- /.box-body -->

                </div>
            </div>
        </div>
        <!-- /.box -->


        <script type="text/javascript" src="~/maps/leaf-T804.js"></script>
        <script type="text/javascript" src="~/maps/leaf-demo.js"></script>
        @*<script type="text/javascript" src="~/maps/markers.js"></script>*@
    </div>

</div>

