
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutCCMS.cshtml";
}
<script src="~/AngularJs/controllers/MapCntrl.js"></script>
@*<link rel="stylesheet" href="~/Content/dashboardNew/dist/css/adminlte.min.css">*@

<link rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<link rel="stylesheet"
      href="https://unpkg.com/leaflet.markercluster@1.5.0/dist/MarkerCluster.css" />
<link rel="stylesheet"
      href="https://unpkg.com/leaflet.markercluster@1.5.0/dist/MarkerCluster.Default.css" />
@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
@*<script src="https://unpkg.com/jquery@3.6.0/dist/jquery.min.js"
    integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK"
    crossorigin="anonymous"></script>*@
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.markercluster@1.5.0/dist/leaflet.markercluster.js"></script>
<script src="~/maps/Control.FullScreen.js"></script>
<link href="~/maps/Control.FullScreen.css" rel="stylesheet" />
@*<script src="https://cdn-webgl.eegeo.com/eegeojs/api/v0.1.780/eegeo.js"></script>*@
<style>
    .content-header {
        padding: 5px 0.5rem !important;
    }

    .box-header {
        padding: 0 !important;
        padding-left: 10px !important
    }
</style>
<style>
   .leaflet-bottom {
        position: absolute;
        z-index: 1000;
        pointer-events: none;
        display: none;
    }

    .marker-cluster-small {
        background-color: #d4e9be;
    }

        .marker-cluster-small div {
            background-color: #d4e9be;
        }

    .marker-cluster-medium {
        background-color: #fde8c6;
    }

        .marker-cluster-medium div {
            background-color: #fde8c6;
        }

    .marker-cluster-large {
        background-color: #d2bdcf;
    }

        .marker-cluster-large div {
            background-color: #d2bdcf;
        }
</style>
<div ng-controller="MapCntrl" ng-cloak style="zoom:0.9">
    <!--<div class="content-header">
        <div class="row">
            <div class="col-sm-6">
            </div>--><!-- /.col -->
            <!--<div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>--><!-- /.col -->
        <!--</div>--><!-- /.row -->

    <!--</div>-->
    <!-- /.content-header -->
    <hr style="margin-top:10px !important" />

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="box card-success card-outline">
                    <div class="box-header with-border">
                        <h5 class="box-title" style="color: #28a745;">
                            <a href="#" ng-repeat="t in map_types"
                               style="margin:5px"
                               id="{{t.id}}"
                               ng-class="{'btn-default' : t.type!==selectedType, 'btn-info' : t.type===selectedType}"
                               ng-click="showMapByType(t.type)"
                               class="btn">
                                {{t.type}}
                            </a>

                        </h5>
                        <div class="box-tools pull-right">
                            @*<span>Claimant Population : {{claimantCount}}</span>
                                <span>Service Provider Sites : {{serviceProviderCount}}</span>*@
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="margin:0">
                        <div id="map" style="width: 100% !important; height: 500px !important"></div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>

        </div>

        @*<script type="text/javascript" src="~/maps/leaf-T804.js"></script>*@
        @*<script type="text/javascript" src="~/maps/leaf-demo.js"></script>*@
    </div>

</div>

