
@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Views/Shared/_LayoutCCMS.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">user Info</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">

        <!-- Timelime example  -->
        <div class="row">
            <div class="col-md-12">
                <!-- The time line -->
                <div class="timeline">
                    <!-- timeline time label -->
                    <div class="time-label">
                        <span class="bg-green">10 Feb. 1982</span>
                    </div>
                    <!-- /.timeline-label -->
                    <!-- timeline item -->
                    <!-- /.timeline-label -->
                    <!-- timeline item -->
                    <div>
                        <i class="fas fa-id-badge bg-green"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fas fa-clock"></i> 12:05 pm</span>
                            <h3 class="timeline-header"><a href="#">Contact Made</a> Starting the career in Mine worker</h3>

                            <div class="timeline-body">
                                MOLAOA ABRAM JANYANA has Started the Career in Tshiamiso Trust Miner Worker. He was able to operate machinery and equipment to dig, load and transport gold and sand underground or in open-cut mines. It’s common for Miners to work in rural and remote locations, often living a fly-in/fly-out lifestyle. He was Installing lighting, cabling and pump services to the mine.
                            </div>
                            <div class="timeline-footer">
                                <a class="btn btn-primary btn-sm">Profile</a>
                            </div>
                        </div>
                    </div>
                    <!-- END timeline item -->
                    <!-- timeline item -->
                    <div>
                        <i class="fas fa-chalkboard-teacher bg-green"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fas fa-clock"></i> 1:00 pm</span>
                            <h3 class="timeline-header no-border"><a href="#">Lodgement Booking</a> 9 Jan, 1991</h3>
                            <div class="timeline-body">
                                MOLAOA ABRAM JANYANA has add Lodgement for Medical Assessment
                            </div>
                        </div>

                    </div>
                    <!-- END timeline item -->
                    <!-- timeline item -->
                    <div>
                        <i class="fas fa-user-injured bg-green"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fas fa-clock"></i> 4:00 pm</span>
                            <h3 class="timeline-header no-border"><a href="#">BME Booking</a> 21 Jun, 1995</h3>
                            <div class="timeline-body">
                                MOLAOA ABRAM JANYANA has add BME Booking for Medical Examination
                            </div>
                        </div>

                    </div>
                    <!-- END timeline item -->
                    <!-- timeline item -->
                    <div>
                        <i class="fas fa-user-check bg-green"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fas fa-clock"></i> 9:00 am</span>
                            <h3 class="timeline-header no-border"><a href="#">Claim Lodged</a> 2 Feb, 2013</h3>
                            <div class="timeline-body">
                                MOLAOA ABRAM JANYANA has added in Deceased Register and adding Claim for Death Registery
                            </div>
                        </div>

                    </div>
                    <!-- END timeline item -->
                    <!-- timeline item -->
                    <div>
                        <i class="fas fa-user-md bg-green"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fas fa-clock"></i> 1:00 pm</span>
                            <h3 class="timeline-header no-border"><a href="#">Benifits Medical Examination</a> 3 Feb, 2004</h3>
                            <div class="timeline-body">
                                To start the Medical Examination foor Death Benificiry. Molaoa Abram Nominne has claimed and follow the medical Examination Rules
                            </div>
                        </div>

                    </div>
                    <!-- END timeline item -->
                    <!-- timeline item -->
                    <div>
                        <i class="fas fa-user-md bg-green"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fas fa-clock"></i> 11:00 am</span>
                            <h3 class="timeline-header no-border"><a href="#">Benifits Medical Examination</a> 3 Feb, 2014</h3>
                            <div class="timeline-body">
                                Ananya Abram has reviwed for Medical Examination
                            </div>
                        </div>

                    </div>
                    <!-- END timeline item -->
                    <!-- timeline item -->
                    <div>
                        <i class="fas fa-users bg-green"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fas fa-clock"></i> 1:00 pm</span>
                            <h3 class="timeline-header no-border"><a href="#">Medical Panel Assessment</a> 10 Feb, 2014</h3>
                            <div class="timeline-body">
                                Medical Panel members Assessed for Deceased Person Medical Reports and panel added in Benificiary Details and Bank details and Claimed
                            </div>
                        </div>

                    </div>
                    <!-- END timeline item -->
                    <!-- timeline item -->
                    <div>
                        <i class="fas fa-user-secret bg-green"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fas fa-clock"></i> 1:00 pm</span>
                            <h3 class="timeline-header no-border"><a href="#">Mine Agent review</a> 1 Mar, 2014</h3>
                            <div class="timeline-body">
                                After Medical Panel Assessment team claim the deceased person details mine agent reviewd and send the details for tresury officer.
                            </div>
                        </div>

                    </div>
                    <!-- END timeline item -->
                    <!-- timeline item -->
                    <div>
                        <i class="fas fa-user-shield bg-green"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fas fa-clock"></i> 5:00 pm</span>
                            <h3 class="timeline-header no-border"><a href="#">Approval and Payment</a> 24 Mar, 2014</h3>
                            <div class="timeline-body">
                                Finally check the mine agent review and proceded to appove the miner person deceased records. once approved the tresury team Payment was transfered to Benificiay Account.
                            </div>
                        </div>

                    </div>
                    <!-- END timeline item -->
                    <!-- timeline time label -->
                    <!-- /.timeline-label -->
                    <div>
                        <i class="fas fa-user-slash bg-green"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fas fa-clock"></i> 1:00 pm</span>
                            <h3 class="timeline-header no-border"><a href="#">Closed Miner Record</a></h3>
                        </div>

                    </div>
                    <div class="time-label">
                        <span class="bg-green">29 Mar, 2014</span>
                    </div>
                    <div>
                        <i class="fas fa-clock bg-red"></i>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
    </div>
    <!-- /.timeline -->

</section>