@charset "utf-8";
/* CSS document written by Harish Kohli */

@font-face{ font-family:basicFont; src:url(../fonts/glober.ttf);}
@font-face{ font-family:titleFont; src:url(../fonts/Corbert.otf); }
@font-face{ font-family:subTitleFont; src:url(../fonts/roboto.ttf); }

body{ margin:0px; padding:0px; font-family:basicFont; font-size:13px; color:#000; overflow-y:scroll; font-weight:normal;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, div{ margin:0px; padding:0px; float:left;}
h1, h2, h3, h4, h5, h6, ul, li, a, span, p, input{ margin:0px; padding:0px; float:left;}
a{ text-decoration:none;}
h1{ font-size:30px;}
h2{ font-size:24px;}
h3{ font-size:20px;}
h4{ font-size:16px;}
h5{ font-size:14px;}
h6{ font-size:13px;}
img{ display:table; margin:0 auto; }
.lineheight{line-height:20px;}
.lineheightExtra{line-height:24px;}
.clear{ clear:both;}
.borderNone{ border:none!important;}
.boxsizing{ box-sizing:border-box;}
.fontBold{ font-weight:bold;}
.fontweightNone{ font-weight:normal;}
.floatNone{ float:none;}
.posRelative{ position:relative;}
.minWidth100{ width:100px!important}
.menuIcon{ display:none;}
.closeIcon{ display:none;}
.displayBlock{ display:block; }
.overflowDot{ overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.upperCase{ text-transform:uppercase;}
.opty80{ opacity:0.8;}
.seprater{ background:#333; border-bottom:solid 1px #444; height:2px; width:100%;}
.mobGap{ display:none;}
.img100Percent img{ width:100%; height:100%;}
.titleFont{font-family:titleFont;}
.font11{ font-size:11px;}
.font30{ font-size:30px;}
.font28{ font-size:28px;}

/*error or success class*/
.alertBox{ width:100%; padding:10px; box-sizing:border-box; float:left; margin:0px 0px 10px; line-height:20px; border-radius:5px; text-align:center;}
.error{ background-color:#FCE3E9!important; color:#a94442!important; border:solid 1px #9B0000!important;}
.success{ background-color:#dff0d8!important; color:#3c763d!important; border:solid 1px #d6e9c6!important;}
.notification{ background-color:#d9edf7!important; color:#31708f!important; border:solid 1px #bce8f1!important;}


/*border*/
.borderTop{ border-top:solid 1px #ccc;}
.borderBottom{ border-bottom:solid 1px #ccc;}
.borderRight{ border-right:solid 1px #ccc;}
.borderLeft{ border-left:solid 1px #ccc;}
.borderDashed{ border:1px dashed #999999!important;}
.borderAll{ border:solid 1px #ddd;}

.pull_left{ float:left!important;}
.pull_right{ float:right!important;}

/*align Text*/
.alignRight{text-align:right;}
.alignCenter{ text-align:center;}
.alignLeft{ text-align:left;}
.alignJustify{ text-align:justify;}

/*margin*/
.marginRight{ margin-right:10px;}
.marginLeft{ margin-left:10px;}
.marginTop{ margin-top:10px;}
.marginBottom{ margin-bottom:10px;}
.marginNone{ margin:0px!important;}
.marginLeftNone{ margin-left:0px!important;}
.marginRightNone{ margin-right:0px!important;}
.marginTopNone{ margin-top:0px!important;}
.marginBottomNone{ margin-bottom:0px!important;}

/*padding*/
.paddingRight{ padding-right:10px;}
.paddingLeft{ padding-left:10px;}
.paddingTop{ padding-top:10px;}
.paddingBottom{ padding-bottom:10px;}
.paddingNone{ padding:0px!important;}
.paddingLeftNone{ padding-left:0px!important;}
.paddingRightNone{ padding-right:0px!important;}
.paddingTopNone{ padding-top:0px!important;}
.paddingBottomNone{ padding-bottom:0px!important;}

/*In Box*/
.paddingInBox{ padding:10px; box-sizing:border-box;}
.paddingInBoxExtra{ padding:20px; box-sizing:border-box;}
.paddingupdwn{ padding-top:10px; padding-bottom:10px;}
.paddinglftrgt{ padding-left:15px; padding-right:15px; box-sizing:border-box;}
.padding-sm-updwn{ padding-top:5px; padding-bottom:5px;}
.padding-sm{ padding:5px;}
.padding-sm-lftrgt{ padding-left:5px; padding-right:5px;}

/*rounded Corners*/
.radiusCircle{ border-radius:100px;}
.roundCorner{border-radius:5px;}
.roundCornerExtra{border-radius:10px;}
.radius-1-0-0-1{ border-radius:10px 0px 0px 10px;}
.radius-0-1-1-0{ border-radius:0px 10px 10px 0px;}
.radius-0-0-1-1{ border-radius:0px 0px 10px 10px;}
.radius-1-1-0-0{ border-radius:10px 10px 0px 0px;}
.roundCorner-lg{ border-radius:30px;}

/*btn css*/
.btn-lg{ border-radius:5px; padding:10px 20px; border:none; font-family:basicFont; font-size:16px; margin-bottom:10px; font-weight:normal; box-sizing:border-box;}
.btn{ border-radius:5px; padding:5px 10px; border:none; font-family:basicFont; font-size:13px; margin-bottom:10px; font-weight:normal; box-sizing:border-box;}
.btn-sm{ padding:2px 5px; border:none; font-family:basicFont; font-size:12px; margin-bottom:10px; font-weight:normal; box-sizing:border-box;}
.primary-btn{
background:#ffffff;
background:-moz-linear-gradient(top,  #ffffff 0%, #dddddd 100%);
background:-webkit-linear-gradient(top,  #ffffff 0%,#dddddd 100%);
background:linear-gradient(to bottom,  #ffffff 0%,#dddddd 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
color:#092c70; box-shadow:0px 1px 1px #092c70;}
.primary-btn:hover{ background:#333; color:#fff; }
.secondry-btn{ background:#3296cb; color:#fff;}
.secondry-btn:hover{ background-color:#333; color:#fff;}

/*Font colors*/
.white{ color:#fff;}
.yellow{ color:#f5a233;}
.pink{ color:#c9344d;}
.blue{ color:#092c70;}
.black{ color:#000;}
.grey{ color:#333;}
.darkBlueBG{ background:#093f62;}
.baseColor{ color:#092c70;}
.baseBG{ background:#e7eaed;}
.greyBG{ background:#f1f1f1;}
.orangeBG{background:#df9e2c;}
.greenBG{background:#5ac13f;}
.greenDarkBG{background:#4ab39e;}
.blueBG{ background:#3e72d7;}
.darkGreyBG{ background:#333;}

/*link*/
.link{ color:#fff; font-size:13px; padding:5px; box-sizing:border-box; width:100%; text-decoration:none;}
.link:hover{ color:#000; background:#fff; border-radius:10px;}

/*form-controls*/
.label{ line-height:32px;}
.form-control{ width:100%; padding:10px; box-sizing:border-box; border:none; margin-bottom:10px; font-family:basicFont; font-size:13px; line-height:20px;}
.form-control-sm{ width:100%; padding:5px 10px; box-sizing:border-box; border:none; margin-bottom:10px; font-family:basicFont; font-size:13px; line-height:20px;}
.form-control-input{ width:100%; padding:5px 10px; box-sizing:border-box; border:none; margin-bottom:10px; font-family:basicFont; font-size:13px; line-height:20px; background:#e9e9e9;}
.form-control-select{ width:108%; padding:5px 10px; box-sizing:border-box; border:none; margin-bottom:10px; font-family:basicFont; font-size:13px; line-height:20px; background:url(../images/dropdown.png) 85% 12px scroll no-repeat #e6f2f9 ;}
.selectWrap{ overflow:hidden;}


/*width Definations*/
.col-sm-1{ width:10%;}
.col-sm-2{ width:20%;}
.col-sm-3{ width:30%;}
.col-sm-4{ width:40%;}
.col-sm-5{ width:50%;}
.col-sm-6{ width:60%;}
.col-sm-7{ width:70%;}
.col-sm-8{ width:80%;}
.col-sm-9{ width:90%;}
.col-sm-1Forth{ width:25%;}
.col-sm-1Third{ width:33.33%;}
.col-sm-3Forth{ width:75%;}

/*containers*/
.wrapper{width:100%;}
.row{width:100%;}
.container{ margin:0 auto; float:none; display:table;}
.wrap{width:1170px; margin:0px auto; display:table; float:none;}
.content{ line-height:20px; text-align:justify;}
.content p{ margin:0px 0px 20px;}
.content ul{ list-style:outside;}
.content ul li{ width:97%; padding:5px 0px; margin-left:3%; border-bottom:solid 1px #ddd;}


/*theme styles*/
.headerSection{ border-top:solid 2px #ccc;
background: #eeeeee;
background: -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 67%);
background: -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 67%);
background: linear-gradient(to bottom,  #eeeeee 0%,#ffffff 67%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
}
.navigationPanel{border:solid #04903a; border-width:1px 0px;
background:#63bc29;
background:-moz-linear-gradient(top,  #63bc29 0%, #04903a 100%);
background:-webkit-linear-gradient(top,  #63bc29 0%,#04903a 100%);
background:linear-gradient(to bottom,  #63bc29 0%,#04903a 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#63bc29', endColorstr='#04903a',GradientType=0 );
}
.navigationWrap{ position:relative;}
.navigationWrap:before{ position:absolute; border:solid; border-width:1px 3px 37px 19px; border-color:transparent #fff #fff transparent; content:""; left:-20px; top:0px;}
.navigationWrap:after{ position:absolute; border:solid; border-width:3px 1px 36px 17px; border-color:#fff transparent transparent #fff; content:""; right:-17px; top:0px;}
.navigationPanel a{ color:#000; padding:10px 20px; background:#fff; position:relative;}
.navigationPanel a:hover{ background:#f4bf00; color:#fff;}
.navigationPanel a:hover:before{ position:absolute; border:solid; border-width:1px 3px 37px 19px; border-color:transparent #f4bf00 #f4bf00 transparent; content:""; left:-20px; top:0px; z-index:1;}
.navigationPanel a:hover:after{ position:absolute; border:solid; border-width:3px 1px 36px 17px; border-color:#f4bf00 transparent transparent #f4bf00; content:""; right:-17px; top:0px; z-index:1;}

.navigationPanel a.active{ background:#f4bf00; color:#fff;}
.navigationPanel a.active:before{ position:absolute; border:solid; border-width:1px 3px 37px 19px; border-color:transparent #f4bf00 #f4bf00 transparent; content:""; left:-20px; top:0px; z-index:1;}
.navigationPanel a.active:after{ position:absolute; border:solid; border-width:3px 1px 36px 17px; border-color:#f4bf00 transparent transparent #f4bf00; content:""; right:-17px; top:0px; z-index:1;}

.bannerWrap{ position:relative; box-shadow:0 130px 24px -125px #000;}
.bannnerCaption{ position:absolute; width:40%; z-index:1000; right:0px; top:0px; bottom:0px; background:rgba(241,0,2,0.6); color:#fff; padding:20px; box-sizing:border-box;}
.bannnerCaption:before{ position:absolute; left:-100px; top:0px; content:""; border:solid; border-width:150px 50px 151px; border-color:transparent rgba(241,0,2,0.6) rgba(241,0,2,0.6) transparent;}
.bodypanel{background: #eeeeee;
background: -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 67%);
background: -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 67%);
background: linear-gradient(to bottom,  #eeeeee 0%,#ffffff 67%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
}
.upperBG{ background:url(../images/welcome-bg.jpg) center top scroll repeat; margin-top:30px;}
.applyPanel{ background:#f4bf00; color:#fff; padding:15px 20px; font-size:20px; text-transform:uppercase; float:none; margin:auto; display:table; position:relative;}
.applyPanel:before{position:absolute; border:solid; border-width:3px 25px 55px 1px; border-color:#f4bf00 #f4bf00 transparent transparent ; content:""; left:-26px; top:0px;}
.applyPanel:after{position:absolute; border:solid; border-width:3px 1px 55px 25px; border-color:#f4bf00 transparent transparent #f4bf00; content:""; right:-26px; top:0px;}
.applyPanelBox{ border:solid #f43335; border-width:1px 0px; width:100%; padding:20px; box-sizing:border-box; margin:70px 0px 30px; position:relative;}
.applyPanelBox:before{ position:absolute; left:0px; right:0px; top:-71px; height:70px; width:1px; content:""; background:#f43335; margin:auto;}
.marginMinus{margin-top:-60px; z-index:1; position:relative;}

.serviceBox{ width:33%; padding:10px; box-sizing:border-box; margin:10px 0px 25px;}
.titleIMG{ background:url(../images/service-item-bg.png) 0 0 scroll no-repeat; margin:0 auto 40px; float:none; display:table; height:167px; width:151px; position:relative;}
.titleIMG img{ position:absolute; left:0px; top:0px; right:0px; bottom:10px; margin:auto;}

.testiBG{background:#20468e;
background:-moz-linear-gradient(top,  #20468e 0%, #092c70 74%);
background:-webkit-linear-gradient(top,  #20468e 0%,#092c70 74%);
background:linear-gradient(to bottom,  #20468e 0%,#092c70 74%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#20468e', endColorstr='#092c70',GradientType=0 );}
.testiniPanel{ width:320px; margin:10px 0px 40px;}
.testiimg{ width:108px; height:108px; margin:0 auto; box-sizing:border-box; display:table; float:none;}
.testiimg img{ width:108px; height:108px; margin:0 auto; border:solid 7px #ddd; box-sizing:border-box; border-radius:100px;}
.footerSection{ border:solid #00903B; border-width:1px 0px; background:url(../images/footer.jpg) center top scroll no-repeat #00903B; padding-bottom:17px;}
.footerTitle{ font-size:24px; padding:10px; box-sizing:border-box; background:#fff; color:#000; position:relative; box-shadow:0px 25px 10px -20px #000;}
.footerTitle:before{ content:""; position:absolute; left:-45px; top:0px; border:solid; border-width:40px 10px 10px 35px; border-color:#fff #fff transparent transparent;}
.footerTitle:after{ content:""; position:absolute; right:-45px; top:0px; border:solid; border-width:40px 35px 10px 10px; border-color:#fff transparent transparent #fff;}

.socialIcon a{ width:30px; height:30px; border-radius:50px; margin-left:5px; padding:7px; box-sizing:border-box;
background:#ffffff;
background:-moz-linear-gradient(top,  #ffffff 0%, #dddddd 100%);
background:-webkit-linear-gradient(top,  #ffffff 0%,#dddddd 100%);
background:linear-gradient(to bottom,  #ffffff 0%,#dddddd 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
}
.socialIcon a:hover{background:#fff;}

/* slides */
.slideshow { position:relative; margin:0px; float:left; width:1170px; height:301px; }
.slideshow a { font-size:1px; line-height:10px; text-decoration:none; color:#fff; background:#fff; border-radius:30px; }
.slideshow a:hover,
.slideshow .selected a { background-color:#000; color:#000; }
.carousel { margin:0; padding:0; list-style:none; }
.slide { z-index:100; width:100%; float:left; }
.slide img { display:block; }

/* pagination */
.slides-pagination { position:absolute; bottom:0px; border-radius:10px 10px 0px 0px; background:rgba(241,0,2,0.6); left:20px; margin:auto; padding:5px; list-style:none; z-index:110; }
.slides-pagination li { display:inline; }
.slides-pagination a { display:block; float:left; padding:2px 7px; margin:0px 2px; text-align:center; }

/* skip */
.slides-next,
.slides-prev { position:absolute; top:50%; margin-top:-1em; padding:0 .5em; z-index:120; }
.slides-next { right:0; }
.slides-prev { left:0; }
.slides-next.disabled,
.slides-prev.disabled { opacity:.5; cursor:auto; }

.DoctorListing{ width:100%; border:solid 1px #ddd; box-shadow:0px 5px 5px #666; box-sizing:border-box; margin-top:30px;
background:#ffffff;
background:-moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
background:-webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
background:-o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
background:-ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
background:linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}
.dealBox{ position:absolute; left:0px; top:10px; background:rgba(255,0,0,0.7); color:#fff; padding:5px 5px; margin-left:-10px; font-size:11px;}
.minHeightpropertyIMG{ min-height:180px;}
.font40{ font-size:40px;}

.starRating{ display:inline-block; position:relative; height:24px; background:url('../images/stars.png') repeat-x 0 0; vertical-align:bottom; margin-bottom:5px;}
.starRating div{ float:left; position:relative; height:24px;}
.starRating input{ position:relative; z-index:1; width:24px; height:24px; margin:0; padding:0; opacity:0;}
.starRating label{ position:absolute; top:0; left:0; width:100%; height:24px;}
.starRating span{ display:none;}
.starRating input:checked + label, .starRating:hover input:checked:hover + label{ background:url('../images/stars.png') repeat-x 0 -24px;}
.starRating:hover input:checked + label{ background:transparent;}
.starRating:hover input:hover + label{ background:url('../images/stars.png') repeat-x 0 -48px;}

.welcomeCaption{ position:absolute!important; right:0px; top:0px; background:none!important; color:#fff!important; display:block;}
.welcomeCaption:hover:before{ border:none!important;}
.welcomeCaption:hover:after{ border:none!important;}
.welcomeCaptionPanel{ display:none; position:absolute; top:38px; right:0px; width:200px; z-index:10000;}
.welcomeCaptionPanel:after{position:absolute; border:solid 7px; border-color:transparent transparent #000; content:""; left:40%; top:-14px;}
.welcomeCaptionPanel a{ padding:10px; box-sizing:border-box; width:100%; border-bottom:solid 1px #000; color:#fff; background:rgba(0,0,0,0.8)!important;}
.welcomeCaptionPanel a:hover{ background:#f4bf00!important;}
.welcomeCaptionPanel a:before{ border:none!important;}
.welcomeCaptionPanel a:after{ border:none!important;}

.popupBG{position:fixed; left:0px; right:0px; bottom:0px; top:0px; display:none; width:100%; height:100%; background:rgba(0,0,0,0.8); z-index:100; font-family:Arial;}
.popupWrapper{ width:100%; height:100%; background:rgba(0,0,0,1.0);}
.popup{ position:fixed; left:0px; right:0px; bottom:0px; top:0px; display:none; width:500px; border-radius:10px; height:300px; background:#fff; margin:auto; z-index:1001;}
.popupcloseIcon{ position:absolute; right:5px; top:10px; width:30px; height:30px; cursor:pointer; display:block;}
.formWrap{ width:100%; padding:15px; box-sizing:border-box; float:left;}
.formBox{ width:100%; padding:7px 30px 10px; margin:0px; float:left; box-sizing:border-box;}
.popuptitle{ font-size:20px; margin-bottom:5px; font-weight:normal; border-bottom:solid 1px #ddd; padding-bottom:5px;}

/* CSS document written by Shashi Chourasia */
.borderRadius{border-radius:50%;}
.displayNone{display:none;}
.calendar{background:url(../images/calendar.png) 95% 4px/16px 16px scroll no-repeat #E9E9E9;}
.calendarLG{background:url(../images/calendar.png) 95% 5px/20px 20px scroll no-repeat #E9E9E9;}




/*chorme hack*/
@media screen and (-webkit-min-device-pixel-ratio:0){
	
}

/*IE 11 Hack*/
@media all and (-ms-high-contrast:none)
{
.foo { color:green } /* IE10 */
*::-ms-backdrop, .foo { color:red } /* IE11 */
}